doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Task Manager
    link(rel="icon", type="image/svg+xml", href="/img/2290855_check_document_done_list_paper_icon.svg")
    // Bootstrap CSS
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css")
    // Custom CSS
    link(rel="stylesheet", href="/styles/styles.css")
  body
    main.container.my-5
      // Add New Task Section
      section
        .row.gx-lg-5
          .col-lg-6.mb-5.mb-lg-4
            h4.mb-3 ADD TASK
            article
              form#add-task-form
                //- Title Input
                .mb-3
                  label(for="title", class="form-label") Title
                  input(type="text", class="form-control", id="title", name="title", placeholder="Plan team meeting", required, autocomplete="off")
                //- Description Textarea
                .mb-3
                  label(for="description", class="form-label") Description
                  textarea.form-control(id="description", name="description", placeholder="Review weekly report", autocomplete="off", rows="3")
                //- Deadline Input
                .mb-4
                  label(for="deadline", class="form-label") Deadline
                  input(type="date", class="form-control", id="deadline", name="deadline", required, autocomplete="off")
                //- Add Task Button
                .d-grid.gap-2
                  .btn-group(role="group")
                    button(type="submit", class="btn btn-success") Add
                    button(type="button", class="btn btn-danger", id="clear-form") Clear
          // Completed Tasks Section
          .col-lg-6.mb-5.mb-lg-4
            section#completed-tasks
              h4.mb-3 COMPLETED TASKS
              .card
                .card-body
                  ul#completed-tasks-list.list-group.list-group-flush
                    //- Completed tasks will be dynamically loaded here

      // Pending Tasks Section
      section
        .row
          .col.mb-4.mb-lg-4
            article
              h4.mb-3 PENDING TASKS
              .card
                .card-body
                  ul#pending-tasks-list.list-group.list-group-flush
                    //- Pending tasks will be dynamically loaded here

      // Logout Button Section
      section.row
        .col-12.col-md-3
          button#logout-btn.btn.btn-danger.w-100 Logout

    // Custom script
    script(src="/js/tasks.js")
